<nav
  class="navbar navbar-expand-md navbar-light bg-transparent border-bottom sticky-top blur-bg" style="backdrop-filter: blur(100px);"
>
  <a class="navbar-brand" href="/listings">
    <img
      src="https://www.logomaker.com/api/main/images/1j+ojFVDOMkX9Wytexe43D6kh...GEpBdGmh3JwXs1M3EMoAJtlyEphvVu9f87"
      alt="SafarNama"
      style="height: 60px; width: 110px; backdrop-filter: blur(10px);"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
    onclick="toggleBlur()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
    
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/listings">Home</a>
      <a class="nav-item nav-link" href="/listings/new">Add a Place</a>
    </div>
    <!-- Search box -->
    <% if(currUser){ %>
  <div class="navbar-nav ms-auto">
    <form class="d-flex" method="GET" action="/listings/search">
      <input
        class="form-control mr-sm-2 search-inp"
        type="search"
        placeholder="Search a place.."
        name="search"
      />
      <button
        class="btn btn-search my-2 my-sm-0"
        class="search-input"
        type="submit"
      >
      <i class="fas fa-search"></i>Search
      </button>
    </form>
  </div>
  <style>
    .search-inp{
      border-radius: 15px;
      padding: 0.4rem 2rem 0.4rem 2rem;
      font-size: 0.9rem;
    }
    .btn-search i{
      display: inline;
      margin-right: 0.5rem;
    }
    .btn-search{
      background-color: rgb(246, 19, 19);
      color: white;
      border-radius: 15px;
    }
    .btn-search:hover{
      background-color: rgb(246, 19, 19);
      color: white;
    }

    .btn-search:active {
    background-color: white; /* Change background color when clicked */
    color: rgb(246, 19, 19); /* Change text color when clicked */
  }
  </style>
    <% } %>
    <div class="navbar-nav ms-auto">
      <% if(!currUser){ %>
      <a class="nav-item nav-link active" href="/login"><b>Login/Signup</b></a>
      <% } %> <% if(currUser){ %>
      <a class="nav-item nav-link" href="/logout"><b>Logout</b></a>
      <% } %>
    </div>
  </div>
</nav>
<script>
  function toggleBlur() {
      document.body.classList.toggle('blur');
  }
  </script>
  
  <style>
  .blur {
      backdrop-filter: blur(10px);
  }
  </style>